<%- include('partials/header') -%>
  <main class="container pb-5">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <form action="" method="">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="<%= user.userName%>">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="<%= user.email%>">
                    </div>
                    <div class="mb-3">
                      <label for="imgUpload" class="form-label">Change your profile photo</label><br>
                      <input type="file" class="file-input file-input-bordered file-input-sm w-5/6 max-w-xs" id="imageUpload" name="file">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
  </main>
<%- include('partials/footer') -%>