body, navbar-custom{
    background: #FCF0C8;
    background-image: none;
    color: #911F27
}

.btn-primary{
    background-color: #911F27 !important;
    border: #911F27;
}

div.box{
padding: 20px;
margin: 10px 0;
background: #911F27;
border-radius: 40px;
color: white;
}

.img-fluid{
    padding: 10px;
    border-radius: 40px;
}

.container{
    padding-top: 20px;
}

a.navbar-brand{
    color: #911F27;
    font-weight: bold;
    font-size: 32px;
}