@tailwind base;
@tailwind components;
@tailwind utilities;

ul.menu li a:hover{
color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.footer {
    margin-top: auto;
  }

footer a{
color: black;
}

a{
  color: rgb(223, 167, 60)
}

a:hover, i:hover{
  color: rgb(187, 137, 43)
}

.navbar-mobile {
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 3rem;
  width: 100%;
}