@tailwind base;
@tailwind components;
@tailwind utilities;

ul.menu li a:hover, h3 a:hover{
color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.footer {
    margin-top: auto;
  }